html {
  height: 100%;
  width: 100%;

}

body{
  background-color: #000000;
  color:white;
  border: 9px solid #ff9ecd;

}

.name{
  background-color:  #0f0f0f;
  color:white; 
  font-size:48px;
  font-family: 'Allura', cursive;
}

.topnav {
  font-family: "Baloo 2", sans-serif;

  background-color: #383838;
  border-radius:22px;
  overflow: hidden;
  text-align: center;
}


.topnav a {
  font-family: "Baloo 2", sans-serif;

  float: left;
  color:white; 
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff9ecd;
  color: black;
  opacity: 0.5;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.about{
  padding: 10px; 
  color: white;
  font-size:18px;
}

.ab1{
   font-family: 'Allura', cursive;
}

.ab2{
  font-family: "Baloo 2", sans-serif;
  font-weight: 100;
}
